ModelingProject1/UMLClassDiagram1.classdiagram.layout
ModelingProject1/UMLClassDiagram1.classdiagram
ModelingProject1/ReverseEngineering.Log.xml
ModelingProject1/ModelDefinition/Package_1945.uml
ModelingProject1/ModelDefinition/Package8_1945.uml
ModelingProject1/ModelDefinition/Package7_1945.uml
ModelingProject1/ModelDefinition/Package6_1945.uml
ModelingProject1/ModelDefinition/Package5_1945.uml
ModelingProject1/ModelDefinition/Package4_1945.uml
ModelingProject1/ModelDefinition/Package3_1945.uml
ModelingProject1/ModelDefinition/Package2_1945.uml
ModelingProject1/ModelDefinition/Package1_1945.uml
ModelingProject1/ModelDefinition/ModelingProject1.uml
Domain/obj/Debug/Domain.csprojResolveAssemblyReference.cache
ClassLibrary/obj/Debug/Protocol.csprojResolveAssemblyReference.cache
.vs/Sockets/v15/sqlite3/storage.ide
Sockets/bin/Debug/Sockets.vshost.exe.manifest
ModelingProject1/ModelingProject1.modelproj
.vs/Sockets/v15/.suo
Sockets.v12.suo
